## mako
<%!
  from django.utils.translation import ugettext as _
%>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="/main.html" />

<%block name="title"><title>${_('About')}</title></%block>

<%block name="js_extra">
  <script type="text/javascript">
    $(function() {
      $('section.message').hide();
      $('#about-menu a').removeClass('active');
      window.scrollTo(0,0);
      var hash = window.location.hash

      if (hash) {
        $('section' + hash).show();
        $('#about-menu a.' + hash.substring(1)).addClass('active');
      } else {
        $('section#about').show();
        $('#about-menu a.about').addClass('active');
      }

      $('#about-menu a').click(function(event) {
        event.preventDefault();
        $('#about-menu a').removeClass('active');
        $(this).addClass('active');
        var clickId = "section" + $(this).attr('href');
        $('section.message').hide();
        $(clickId).show();
      });
    });
  </script>
</%block>

<section class="container about" style="width: auto;">
  <nav id="about-menu">
    <a href="#about" class="about active">${_('About')}</a>
    <a href="#careers" class="careers">${_('My Website')}</a>
    <a href="#contact" class="contact">${_('Contact')}</a>
  </nav>

  <section class="vision">

## About Section ##
    <section class="message left" id="about">
      <div class="photo">
        <!--
            Photo License: CC0 Public Domain (Free for commercial use / No attribution required)
            https://pixabay.com/en/book-books-circle-curly-education-2869/
        -->
        <img src="${static.url('nexus-style/images/about.jpg')}" alt="" />
      </div>
      <article>
        <h2>${_('About')}</h2>

        <p>Throughout my undergraduate studies I have had subjects which I've found easy, and subjects which I have found difficult. This not a particularly groudbreaking statement to make, in fact, this sentiment is most probably the experience of all undergraduates. For me, I believe that only some of the experienced difficulty comes down to the underlying content of the subject being studied - the main difficulty, I found, has always been in the teaching style of the academic.</p>

        <p>Naturally, I would seek to aid my understanding of subject material by searching the internet for resources which could support me. Frustratingly, many of the subjects that I was having trouble with had little to no alternative content on the web, which I thought was such a shame. This website has been created to address this need. Primarily, it seeks to provide simplistic explanations to complex material, with a focus on practical application of theory.</p>

        <p>&nbsp;</p>
      </article>
      <hr class="fade-right-hr-divider">
    </section>

## Careers Section ##
    <section class="message left" id="careers">
      <div class="photo">
        <!--
            Photo License: CC0 Public Domain (Free for commercial use / No attribution required)
            https://pixabay.com/en/man-corporate-businessman-suit-tie-871960/
        -->
        <img src="${static.url('nexus-style/images/careers.jpg')}" alt="" />
      </div>
      <article>
        <h2>${_('My Website')}</h2>

        <p>Under Construction - Please Check Back Later</p>

        <p>&nbsp;</p>
      </article>
      <hr class="fade-right-hr-divider">
    </section>

## Contact Section ##
    <section class="message left" id="contact">
      <div class="photo">
        <!--
            Photo License: CC0 Public Domain (Free for commercial use / No attribution required)
            https://pixabay.com/en/network-cobweb-dewdrop-586177/
        -->
        <img src="${static.url('nexus-style/images/contact.jpg')}" alt="" />
      </div>
      <article id="stanford-OpenEdX-contact">
        <h2>${_('Contact Us')}</h2>

        <p>For further information please contact the Nexus Edx:</p>
        <p>E: nexus.edx@gmail.com</p>

        <p>&nbsp;</p>
      </article>
      <hr class="fade-right-hr-divider">
    </section>
  </section>

</section>
