<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>

<%inherit file="../main.html" />

<%block name="pagetitle">${_("Privacy Policy")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>${_("Privacy Policy")}</h1>
        <p style="font-family:times new roman;font-size:1em;line-height:1.6em">At Nexus edX, we care about the confidentiality and security of your personal information. We will use commercially reasonable efforts to keep your Personal Information secure in compliance with this Privacy Policy. "Personal Information" is defined below. As used in this Privacy Policy, "we," "us," and "our" refer to Nexus edX</p>

        <p style="font-family:times new roman;font-size:1em;line-height:1.6em">This Privacy Policy only applies to information that we collect through the Nexus edX Website.</p>

        <h2>${_("USERNAMES AND POSTINGS")}</h2>
        <p style="font-family:times new roman;font-size:1em;line-height:1.6em">Comments or other information posted by you to our forums, wikis or other areas of the Site designed for public communications or communications among registered class members may be viewed and downloaded by others who visit the Site. For this reason, we encourage you to use discretion when deciding whether to post any information that can be used to identify you to those forums (or other public or classwide areas)</p>

        <h2>${_("PERSONAL INFORMATION")}</h2>
        <p style="font-family:times new roman;font-size:1em;line-height:1.6em">As used in this Privacy Policy, "Personal Information" means any information about yourself that you may provide to us when using the Site, such as when you sign up for a user account, which may include (but is not limited to) your name, contact information, gender, date of birth, and occupation.</p>

        <p style="font-family:times new roman;font-size:1em;line-height:1.6em">We endeavor to limit the collection of Personal Information to what we need with respect to specific Site activities in order to satisfy business requirements. Nexus EdX does not currently collect financial information from you.</p>

        <h2>${_("USE FOR PERSONALIZATION AND PEDAGOGICAL IMPROVEMENTS")}</h2>
        <p style="font-family:times new roman;font-size:1em;line-height:1.6em">Our goal is to provide current and future visitors with the best possible educational experience. To further this goal, we sometimes present different users with different versions of course materials and software. We do this to personalize the experience to the individual learner (assess the learner's level of ability and learning style, and present materials best suited to the learner), to evaluate the effectiveness of our course materials, to improve our understanding of the learning process and to otherwise improve the effectiveness of our offerings. We may publish or otherwise publicize results from this process, but, unless otherwise permitted under this Privacy Policy, those publications or public disclosures will not include Personal Information.</p>

        <h2>${_("SECURITY")}</h2>
        <p style="font-family:times new roman;font-size:1em;line-height:1.6em">Nexus EdX has a program designed to protect Personal Information in its possession or control. This is done through a variety of privacy and security policies, processes, and procedures, including administrative, physical, and technical safeguards that reasonably and appropriately protect the confidentiality, integrity, and availability of the Personal Information that it creates, receives, maintains, or transmits. Nonetheless, no method of transmission over the Internet, or method of electronic storage, is 100% secure; and therefore, Nexus edX cannot guarantee its absolute security.</p>
    </section>
</main>
