## mako
<%!
  from django.utils.translation import ugettext as _
%>
<%inherit file="/main.html" />

<%block name="title"><title>${_('Terms of Service')}</title></%block>

<section class="static-container tos">
    <h1>${_('Terms of Service')}</h1>

    <p>${_('Welcome to edX. Please read these Terms of Service ("TOS") and the edX Privacy Policy and Honor Code prior to registering for edX.org or using any portion of the edX website (the "Site," which consists of all content and pages located within the edX.org web domain), including accessing any course material, chat rooms, or other electronic services.')}</p>

    <p>${_('These TOS, the Privacy Policy and the Honor Code are agreements (the "Agreements") between you and edX. By using the Site, you accept and agree to be legally bound by the Agreements, whether or not you are a registered user. If you do not understand or do not wish to be bound by the terms of the Agreements, you should not use the Site.')}</p>

    <h2 id="privacy">${_('Privacy Policy')}</h2>

    <p>${_('Put your Privacy Policy here!')}</p>

    <h2 id="honor">${_('Honor Code')}</h2>

    <p>${_('Put your Honor Code here!')}</p>

    <h2 id="copyright">${_('Copyright')}</h2>

    <p>${_('Put your Copyright Text here!')}</p>
</section>
